<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>
    User Profile
  </h1>
  <div>
    <p>
      <strong>Username:</strong>
      <%= user.username%>
    </p>
    <p>
      <strong>First Name:</strong>
      <%= user.givenName%>
    </p>
    <p>
      <strong>Last Name:</strong>
      <%= user.familyName%>
    </p>
  </div>
  <div>
    <form action="/logout" method="post">
      <button type="submit">Log Out</button>
    </form>
  </div>
</body>

</html>