<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div>
    <form action="/login">
      <button type="submit">Login with Asgardeo</button>
    </form>
  </div>
</body>

</html>